body {
    background-color: rgb(94, 145, 168);
    width: 100vw;
    height: 100vh;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#collision-canvas {
    opacity: 0;
}